Procedure Run;
Var Board : IPCB_Board; Doc : IServerDocument; Report : TStringList; Ok : Boolean;
Begin
    Report := TStringList.Create;
    Try
        Report.Add('[job]');
        Report.Add('request=@@REQUEST@@');
        Report.Add('board=@@BOARD@@');
        Doc := Client.OpenDocument('PCB', '@@BOARD@@');
        If Doc = Nil Then Exit;
        Client.ShowDocument(Doc);
        Board := PCBServer.GetCurrentPCBBoard;
        If Board = Nil Then Exit;
        If UpperCase(Board.FileName) <> UpperCase('@@BOARD@@') Then Exit;
        Ok := Board.RunBatchDesignRuleCheck('@@DRC@@', eDRC_HTML, False, False);
        Report.Add('native_return=' + BoolToStr(Ok, True));
        If Not FileExists('@@DRC@@') Then Exit;
        Report.Add('[completion]');
        Report.Add('status=completed');
    Finally
        Report.SaveToFile('@@REPORT@@');
        Report.Free;
    End;
End;
