Procedure Run;
Var
    Board : IPCB_Board;
    Doc : IServerDocument;
    It : IPCB_BoardIterator;
    P : IPCB_Primitive;
    Report : TStringList;
    K, N : Integer;
Begin
    Report := TStringList.Create;
    Try
        Report.Add('[job]');
        Report.Add('request=@@REQUEST@@');
        Report.Add('board=@@BOARD@@');
        Doc := Client.OpenDocument('PCB', '@@BOARD@@');
        If Doc = Nil Then Exit;
        Client.ShowDocument(Doc);
        Board := PCBServer.GetCurrentPCBBoard;
        If Board = Nil Then Exit;
        If UpperCase(Board.FileName) <> UpperCase('@@BOARD@@') Then Exit;
        For K := 0 To 5 Do
        Begin
            It := Board.BoardIterator_Create;
            Try
                If K = 0 Then It.AddFilter_ObjectSet(MkSet(eComponentObject));
                If K = 1 Then It.AddFilter_ObjectSet(MkSet(ePadObject));
                If K = 2 Then It.AddFilter_ObjectSet(MkSet(eNetObject));
                If K = 3 Then It.AddFilter_ObjectSet(MkSet(eTrackObject));
                If K = 4 Then It.AddFilter_ObjectSet(MkSet(eViaObject));
                If K = 5 Then It.AddFilter_ObjectSet(MkSet(ePolyObject));
                It.AddFilter_LayerSet(AllLayers);
                It.AddFilter_Method(eProcessAll);
                N := 0;
                P := It.FirstPCBObject;
                While P <> Nil Do
                Begin
                    N := N + 1;
                    P := It.NextPCBObject;
                End;
            Finally
                Board.BoardIterator_Destroy(It);
            End;
            If K = 0 Then Report.Add('components=' + IntToStr(N));
            If K = 1 Then Report.Add('pads=' + IntToStr(N));
            If K = 2 Then Report.Add('nets=' + IntToStr(N));
            If K = 3 Then Report.Add('tracks=' + IntToStr(N));
            If K = 4 Then Report.Add('vias=' + IntToStr(N));
            If K = 5 Then Report.Add('polygons=' + IntToStr(N));
        End;
        Client.CloseDocument(Doc);
        Report.Add('[completion]');
        Report.Add('status=completed');
    Finally
        Report.SaveToFile('@@REPORT@@');
        Report.Free;
    End;
End;
